.input_with-error {
    border: 1px solid crimson;
    background-color: #ffd3d9;
}

.input_with-error:focus-visible {
    outline: 1px solid crimson;
}

.counter__widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 270px;
    background-color: #fff;
    border: 3px solid black;
}

.counter__top {
    flex-grow: 1;
    box-sizing: border-box;
    border: 3px solid black;
    min-height: 125px;
}

.counter__settings-form {
    padding: 25px 10px;
}

.counter__buttons {
    border: 3px solid black;
    display: flex;
}

.counter__button {
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}

.input-group {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
}

.input-group > * {
    justify-self: center;
}

.input-group input {
    box-sizing: border-box;
    font-size: 18px;
}

.input-group:not(:last-child) {
    margin-bottom: 10px;
}

.input-group__label {
    display: flex;
    margin: auto 0;
}

.input-group__number {
    height: 30px;
    width: 70px;
    padding: 5px 0 5px 7px;
}