.inputWithError {
  border: 1px solid crimson;
  background-color: #ffd3d9;
}

.inputWithError:focus-visible {
  outline: 1px solid crimson;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 270px;
  background-color: #fff;
  border: 3px solid black;
}

.widgetTop {
  flex-grow: 1;
  box-sizing: border-box;
  border: 3px solid black;
  min-height: 125px;
  padding: 25px 10px;
}

.buttons {
  border: 3px solid black;
  display: flex;
}

.button {
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

.inputGroup > * {
  justify-self: center;
}

.inputGroup input {
  box-sizing: border-box;
  font-size: 18px;
}

.inputGroup:not(:last-child) {
  margin-bottom: 10px;
}

.label {
  display: flex;
  margin: auto 0;
}

.inputNumber {
  height: 30px;
  width: 70px;
  padding: 5px 0 5px 7px;
}